.clothesSections{
    padding-top: 10%;
    
}

.rows{
    padding:10%;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    margin-top: 0; 
    padding-top: 0;
}


@media (max-width: 800px) {
    .rows {
        
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        padding: 0; 
    }
        
        
    
    
    .rows > * {
        width: 100%; 
        
    }

}

