.filterSection {
  margin-right: 0;
  padding: 50px;
  border-radius: 10px;
  width: 230px;

}

.filterCategory {
  width: 225px;
}

.h2text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 30px;
  font-weight: 700;
}

.h3text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.h5text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.categoryAndArrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.arrow {
  font-size: 20px;
}

.sizeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border-radius: 10px;
  margin-right: 2%;
  border: 2px solid black;

}

.selectionSection {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 60px;
  width: 225px;
  cursor: pointer;
}

.clickBox {
  height: 25px;
  width: 25px;
  border: solid 2px black;
  border-radius: 10px;
}

.clickedBox {
  height: 25px;
  width: 25px;
  border: solid 2px black;
  border-radius: 10px;
  background-color: black;
}

@media (max-width: 780px) {

  .filterSection.closed {
    padding: 10px;
    margin-top: 40px;

  }

  .categoryAndArrow {
    padding-right: 0;
  }

  .selectionSection {
    margin-bottom: 10px;
  }


}