.filterSection {
  margin-right: 0;
  padding: 50px;
  border-radius: 10px;
  width: 230px;

}

.filterCategory {
  width: 225px;
}

.filterSection h2,
.filterSection h3,
.filterSection h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.filterSection h2 {
  font-size: 30px;
  font-weight: 700;
}

.filterSection h3 {
  font-size: 18px;
}

.filterSection h5 {
  font-size: 16px;
}

.categoryAndArrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  margin-top: 20px;
}

.arrow {
  font-size: 20px;
}

.sizeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border-radius: 10px;
  margin-right: 2%;
  border: 2px solid black;

}

.selectionSection {
  display: flex;
  align-items: center;
  height: 60px;
  width: 225px;
}

.clickBox {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
  border: 2px solid black;

}

.clickBox.clicked {
  background-color: #9da1a4;
}


@media (max-width: 780px) {

  .filterSection.closed {
    padding: 10px;
    margin-top: 40px;

  }

  .categoryAndArrow {
    padding-right: 0;
  }

  .selectionSection {
    margin-bottom: 10px;
  }


}